<!doctype html>
<!-- Do NOT delete this - these useless comments are so IE doesn't render an error page. Sad right? If the page is less than 512b IE by default renders a "friendly error page" - how nice! https://blogs.msdn.microsoft.com/ieinternals/2010/08/18/friendly-http-error-pages/ -->
<!-- DO NOT DELETE THIS Either! The page is NOT 512 bytes yet ... poor IE11 will render an ERROR! UH OH! I think it should be long enough now ............................................... -->
<html>
<head>
  <meta charset="utf-8" />
  <title>Your App</title>
</head>
<body>
  <div id="root"></div>
</body>
</html>