.playerWrapper {
  position: relative;
  padding-top: 75%; /* Player ratio: 100 / (1280 / 720) */
}

.reactPlayer {
  position: absolute;
  top: 0;
  left: 0;
}
.selected {
  background-color: #f1f7fe;
}
